.button {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 8px;
  background-color: #ffffff;
  color: #414141;
  font-weight: 600;
  font-size: 24px;
  border: 1px solid #ff9000;
  cursor: pointer;
  text-align: center;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: #fff9f2;
}

.button:active {
  background-color: #ffeed8;
}

.button:nth-child(1) {
  grid-area: one;
}
.button:nth-child(2) {
  grid-area: two;
}
.button:nth-child(3) {
  grid-area: three;
}
.button:nth-child(4) {
  grid-area: four;
}
.button:nth-child(5) {
  grid-area: five;
}
.button:nth-child(6) {
  grid-area: six;
}
.button:nth-child(7) {
  grid-area: seven;
}
.button:nth-child(8) {
  grid-area: eight;
}
.button:nth-child(9) {
  grid-area: nine;
}
.button:nth-child(10) {
  grid-area: ten;
}
